@page "{id}"
@model BazeApoteka.Pages.DostupniLekoviModel
@{
}
<form method="post">
    <div>
        Ovde se proledjuje id farmaceuta, on treba da ima referencu na apoteku, a apoteka treba da ima
        reference na lekove koji se nalaze u njoj, dok ne resimo dodavanje referenci ovo ne moze dalje
        Mislim mozemo samo da ucitamo sve lekove iz svih apoteka
    </div>
    <br />
    <div>__________________________</div>
    <input type="submit" value="Nazad" asp-page="./Farmaceut" />
</form>