@page
@model BazeApoteka.Pages.KorisnikModel
@{
}
<div class="text-center">
    <h1>Korisnik</h1>
</div>
<form method="post">
    <a asp-page="./PrikaziSveApoteke" class="font-weight-bold font-italic "> * Prikazi sve aporete</a>
    <div>
        <br />
        <br />
        <input type="submit" value="Nazad" asp-page="./Index" />
    </div>
</form>