@page  "{id}"
@model BazeApoteka.Pages.PrepisiReceptModel
@{
    ViewData["Title"] = "PrepisiRecept";
}

    <form method="post">
        <div> Pacijent: @Model.recept.Id</div>
        
        <div> Terapija: </div>
        <div>Naziv leka: </div> @*ovde input da se cuva kao neki string*@
        <div></div>
        <input type="submit" value="Dodaj Lek" asp-page-handler="DodajLek" />
    </form>
