@page "{id}"
@model BazeApoteka.Pages.PrikazLekaraModel
@{
}
<form method="post">
    <div>
        <input type="hidden" id="id" asp-for="@Model.Prosledjeno" />

        @foreach (BazeApoteka.Entiteti.Lekar l in Model.lekari)
        {
            <div>
                <div class="font-weight-bold">
                    Lekar: @l.Ime @l.Prezime
                </div>
                <br />
                <div>
                    Ustanova u kojoj radite: @l.UstanovaGdeRadi
                </div>
                <br />
            </div>
        }
        <div>Ovde treba da se prikazu svi njegovi korisnici, ponovo pomocu reference :-( </div>
        <div>Pored svakog korisnika treba da ima dugme "Prepisi recept"</div>
    </div>
    <br />
    <div>______________________________________</div>
    <div>
        <input type="submit" value="Nazad" asp-page="./Lekar" />
    </div>
</form>