@page "{id}"
@model BazeApoteka.Pages.UspesnoReceptLekarModel
@{
    ViewData["Title"] = "UspesnoReceptLekar";
}

    <form method="post">
        <h1>Uspesno ste dodali recept @Model.recept.Id</h1>
        <input type="submit" value="Nazad" asp-page="./PrikazLekara" />
        <input type="submit" value="Dodaj jos jedan recept ovo pacijentu" asp-page="./PrepisiRecept" asp-route-id="@Model.recept.Id.ToString()" />
    </form>

